$heading1: 80px;
$heading2: 60px;
$heading3: 30px;
$large: 20px;
$medium: 18px;
$normal: 16px;
$small: 14px;
$super-small: 8px;

$bg-dark: #5D5B6A;
$bg-gray: #C4C4C4;
$bg-light: #F5F5F5;
$bg-height: #F8A978;
$bg-warning: #F67280;

$text-dark: #758184;
$text-light: #FFFFFF;
$text-height: #F8A978;
$text-warning: #F67280;

$icon-dark: #5D5B6A;
$icon-gray: #C4C4C4;
$icon-light: #F5F5F5;
$icon-height: #F8A978;
$icon-warning: #F67280;

$light-shadow: 0px 0px 10px 5px #5D5B6A;
$dark-shadow: 0px 0px 10px 5px #F5F5F5;